@model ProjektZespolowy.Models.MyModels.WykonanaUsluga

@{
    ViewData["Title"] = "Usuwanie wykonanej usługi";
}


<div class="register">
    <section class="register-wrapper">
        <h2>Usuń wykonaną usługę</h2>

        <h3>Czy jesteś pewien?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Ilość:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Ilosc)
                </dd>
                <dt>
                    Ilość za punkty:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IloscZaPunkty)
                </dd>
                <dt>
                    Data:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Data)
                </dd>
                <dt>
                    Koszt:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Koszt)
                </dd>
                <dt>
                    Wykorzystane punkty:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.WykorzystanePunkty)
                </dd>
                <dt>
                    Dodane punkty:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DodanePunkty)
                </dd>
                <dt>
                    Zaksięgowano:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Zaksiegowano)
                </dd>
            </dl>
            <br />
            <form asp-action="Delete" class="details-bottom-nav">
                <input type="hidden" asp-for="WykonanaUslugaId" />
                <input type="submit" value="Usuń" class="btn btn-default" /> |
                <a asp-action="Index">Wróć do listy wykonanych usług</a>
            </form>
        </div>
    </section>
</div>