@model ProjektZespolowy.Models.MyModels.WykonanaUsluga

@{
    ViewData["Title"] = "Szczegóły wykonanej usługi";
}


<div class="register">
    <section class="register-wrapper">
        <h2>Szczegóły</h2>

        <div>
            <h4>Wykonana Usługa</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Ilość:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Ilosc)
                </dd>
                <dt>
                    Ilość za punkty:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IloscZaPunkty)
                </dd>
                <dt>
                    Data:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Data)
                </dd>
                <dt>
                    Koszt:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Koszt)
                </dd>
                <dt>
                    Wykorzystane punkty:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.WykorzystanePunkty)
                </dd>
                <dt>
                    Dodane punkty:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DodanePunkty)
                </dd>
                <dt>
                    Zaksięgowano:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Zaksiegowano)
                </dd>
            </dl>
        </div>
        <br />
        <div class="details-bottom-nav">
            <a asp-action="Edit" asp-route-id="@Model.WykonanaUslugaId">Edytuj</a> |
            <a asp-action="Index">Wróć do listy wykonanych usług</a>
        </div>
    </section>
</div>
