@model IEnumerable<ProjektZespolowy.Models.MyModels.WykonanaUsluga>

@{
    ViewData["Title"] = "Wykonane usługi";
}


<div class="content-wrapper">
    <section class="uslugi wykonane-uslugi">
        <h2>Wykonane usługi</h2>

        <p>
            <a asp-action="Create">Dodaj nową</a>
        </p>
        @if (User.IsInRole("Administrator")||User.IsInRole("Pracownik")||User.IsInRole("Wlasciciel")||User.IsInRole("Monitoring"))
        {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Ilość
                    </th>
                    <th>
                        Ilość za punkty
                    </th>
                    <th>
                        Data
                    </th>
                    <th>
                        Koszt
                    </th>
                    <th>
                        Wykorzystane punkty
                    </th>
                    <th>
                        Dodane punkty
                    </th>
                    <th>
                        Zaksięgowano
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ilosc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IloscZaPunkty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Koszt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WykorzystanePunkty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DodanePunkty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Zaksiegowano)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.WykonanaUslugaId">Edytuj</a> |
                            <a asp-action="Details" asp-route-id="@item.WykonanaUslugaId">Szczegóły</a> |
                            <a asp-action="Delete" asp-route-id="@item.WykonanaUslugaId">Usuń</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </section>
</div>