@model IEnumerable<ProjektZespolowy.Models.MyModels.Monitoring>
@{
    ViewData["Title"] = "Monitoring zbiorników paliwa";
}

<div class="content-wrapper">
    <section class="uslugi monitoring">

        @Html.ActionLink("Wyświetl całą bazę", "Show")

        @foreach (var item in ViewBag.powiadomienia)
        {
            <h3 style="color:darkred">@item</h3>
        }



        <table class="table" style="width:100%;">
            <tr>
                <th>
                    Nazwa paliwa
                </th>
                <th>
                    Poziom paliwa w zbiorniku
                </th>
                <th>
                    Ciśnienie
                </th>
                <th>
                    Temperatura
                </th>
                <th>
                    Data
                </th>


                @*<th></th>*@
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Paliwo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PoziomPaliwa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cisnienie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Temperatura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>


                    @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("DeleteUser", "DeleteUser", new { id = item.Id })
                        </td>*@
                </tr>
            }
        </table>


    </section>
</div>