@model IEnumerable<ProjektZespolowy.Models.RezerwcjaViewModels.RezerwacjaIndex>

@{
    ViewData["Title"] = "Rezerwacje";
}


<div class="content-wrapper">
    <section class="uslugi">
        <h2>Rezerwacje</h2>

        <p>
            <a asp-action="Create">Dodaj nową</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Data
                    </th>
                    <th>
                        Nazwa użytkownika
                    </th>
                    <th>
                        Usługa
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usluga)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edytuj", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Szczegóły", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Usuń", new { id = item.RezerwacjaId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>