@model WebApplication6.Models.ApplicationUser

@{
    ViewData["Title"] = "Delete";
}

<h2>Usuń</h2>

<h3>Na pewno chcesz usunąć tego użytkownika?</h3>
<div>
    <h4>Użytkownik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pesel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pesel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Regon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Regon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsNaturalPerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsNaturalPerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
