@model WebApplication6.Models.ApplicationUser

@{
    ViewData["Title"] = "Usuwanie użytkownika";
}


<div class="register">
    <section class="register-wrapper">
        <h2>Usuń</h2>

        <h3>Czy jesteś pewien?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LastName):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Pesel):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Pesel)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Nip):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nip)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Regon):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Regon)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Points):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Points)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsNaturalPerson):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsNaturalPerson)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.UserConfirmed):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UserConfirmed)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
            </dl>
            <br />
            <form asp-action="Delete" class="details-bottom-nav">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Usuń" class="btn btn-default" /> |
                <a asp-action="Index">Powrót do listy</a>
            </form>
        </div>
    </section>
</div>