@model ProjektZespolowy.Models.MyModels.Usluga

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usluga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypUslugi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypUslugi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PunktyZysk)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PunktyZysk)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PunktyKoszt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PunktyKoszt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UslugaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
