@model IEnumerable<ProjektZespolowy.Models.MyModels.Usluga>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TypUslugi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cena)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PunktyZysk)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PunktyKoszt)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypUslugi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PunktyZysk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PunktyKoszt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UslugaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UslugaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UslugaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
