@model IEnumerable<ProjektZespolowy.Models.MyModels.Usluga>

@{
    ViewData["Title"] = "Usługi";
}


<div class="content-wrapper">
    <section class="uslugi">

        <h2>Usługi</h2>
        @if (User.IsInRole("Administrator") || User.IsInRole("Pracownik") || User.IsInRole("Wlasciciel") || User.IsInRole("Monitoring"))
        {
            <p>
                <a asp-action="Create">Dodaj usługę</a>
            </p>
        }
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Typ usługi
                    </th>
                    <th>
                        Cena
                    </th>
                    <th>
                        Punkty zysk
                    </th>
                    <th>
                        Punkty koszt
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypUslugi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cena)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PunktyZysk)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PunktyKoszt)
                        </td>
                        <td>
                            @if (User.IsInRole("Administrator") || User.IsInRole("Pracownik") || User.IsInRole("Wlasciciel") || User.IsInRole("Monitoring"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.UslugaId">Edytuj</a>
                                <a asp-action="Details" asp-route-id="@item.UslugaId">Szczegóły</a>
                                <a asp-action="Delete" asp-route-id="@item.UslugaId">Usuń</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>