@model ProjektZespolowy.Models.MyModels.Rachunek

@{
    ViewData["Title"] = "Tworzenie rachunku";
}

<div class="register">
    <section class="register-wrapper">
        <h2>Tworzenie rachunku</h2>

        <hr />

        <form asp-action="Create">

            <h2>Usługi na rachunku</h2>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Data
                            </th>
                            <th>
                                Rodzaj Usługi
                            </th>
                            <th>
                                Ilość
                            </th>
                            <th>
                                Stanowisko
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (ViewBag.uslugiNaRachunku != null)
                        {
                            foreach (var usluga in ViewBag.uslugiNaRachunku)
                            {
                                <tr>
                                    @try
                                    {
                                        <td><center>@usluga.Data</center></td>
                                    }
                                    catch (Exception)
                                    {
                                        @*<td>Nie można wczytać wartości</td>*@

                                    }
                                    @try
                                    {
                                        <td><center>@usluga.Usluga.TypUslugi</center></td>
                                    }
                                    catch (Exception)
                                    {
                                        @*<td>Nie można wczytać wartości</td>*@
                                    }
                                    @try
                                    {
                                        <td><center>@usluga.Ilosc</center></td>
                                    }


                                    catch (Exception)
                                    {

                                        @*<td>Nie można wczytać wartości</td>*@
                                    }
                                  
                                    <td>
                                        <div>
                                            @*@Html.ActionLink("DodajUsluge", "DodajUsluge")*@
                                            <a asp-action="UsunUslugeAsync" asp-route-id="@usluga.WykonanaUslugaId"> Usuń</a>
                                        </div>
                                    </td>
                                </tr>
                            }

                        }

                    </tbody>
                </table>
            </div>

            <h2>Usługi do dodania</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Data
                        </th>
                        <th>
                            Rodzaj Usługi
                        </th>
                        <th>
                            Ilość
                        </th>
                        <th>
                            Stanowisko
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @if (ViewBag.wykonaneUslugi != null)
                    {
                        foreach (var usluga in ViewBag.wykonaneUslugi)
                        {
                            <tr>
                                @try
                                {
                                    <td><center>@usluga.Data</center></td>
                                }
                                catch (Exception)
                                {
                                    @*<td>Nie można wczytać wartości</td>*@

                                }
                                @try
                                {
                                    <td><center>@usluga.Usluga.TypUslugi</center></td>
                                }
                                catch (Exception)
                                {
                                    @*<td>Nie można wczytać wartości</td>*@
                                }
                                @try
                                {
                                    <td><center>@usluga.Ilosc</center></td>
                                }


                                catch (Exception)
                                {

                                    @*<td>Nie można wczytać wartości</td>*@
                                }
                                
                                <td>
                                    <div>
                                        @*@Html.ActionLink("DodajUsluge", "DodajUsluge")*@
                                        <a asp-action="DodajUslugeAsync" asp-route-id="@usluga.WykonanaUslugaId"> Dodaj</a>
                                    </div>
                                </td>
                            </tr>
                        }

                    }

                </tbody>
            </table>
            <input type="submit" value="Dodaj" class="btn btn-default" />
        </form>

        <div>
            <a asp-action="Index">Wróć do listy rachunków</a>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
