@model ProjektZespolowy.Models.MyModels.Rachunek

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Rachunek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Uslugi" class="control-label"></label>
                <select asp-for="Uslugi" class="list">
                    <option>aaa</option>
                    <option>bbb</option>
                </select>
                <span asp-validation-for="Uslugi" class="dropdown-toggle"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>*@

            <table class="table-responsive">
                <thead>
                    <tr>
                        <th>
                            Data
                        </th>
                        <th>
                             Rodzaj Usługi
                        </th>
                        <th>
                             Ilość
                        </th>
                        <th>
                             Stanowisko
                        </th>
                    </tr>
                </thead>
                <tbody>                   
                    <tr>
                        @if (ViewBag.wykonaneUslugi != null)
                        {
                            foreach (var usluga in ViewBag.wykonaneUslugi)
                            {
                                try
                                {
                                    <td>@usluga.Data</td>
                                }
                                catch (Exception)
                                {
                                    <td>Nie można wczytać wartości</td>

                                }
                                try
                                {
                                    <td>@usluga.Usluga.TypUslugi</td>
                                }
                                catch (Exception)
                                {
                                    <td>Nie można wczytać wartości</td>
                                }
                                try
                                {
                                    <td>@usluga.Ilosc</td>
                                }


                                catch (Exception)
                                {

                                    <td>Nie można wczytać wartości</td>
                                }
                                try
                                {

                                <td>@usluga.Stanowisko.Typ @usluga.Stanowisko.Numer</td>
                                }
                            
                                catch (Exception)
                                {
                                <td>Nie można wczytać wartości</td>
                                }
                                <td>
                                    <div>
                                        @*@Html.ActionLink("DodajUsluge", "DodajUsluge")*@
                                        <a asp-action="DodajUsluge" asp-route-id="@usluga.WykonanaUslugaId"> Dodaj</a>
                                    </div>
                                </td>
                            }
                        }
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
