@model IEnumerable<ProjektZespolowy.Models.MyModels.Rachunek>

@{
    ViewData["Title"] = "Index";
}


<div class="content-wrapper">
    <section class="uslugi">
        <h2>Rachunki</h2>

        <p>
            <a asp-action="Create">Utwórz rachunek</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Data
                    </th>
                    <th>
                        Usługi
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Uslugi)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.RachunekId">Edytuj</a> |
                            <a asp-action="Details" asp-route-id="@item.RachunekId">Szczegóły</a> |
                            <a asp-action="Delete" asp-route-id="@item.RachunekId">Usuń</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>