@model ProjektZespolowy.Models.MyModels.Rachunek

@{
    ViewData["Title"] = "Podsumowanie";
}

<h2>Podsumowanie</h2>

<div>
    <h4>Rachunek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            Cena
        </dt>
        <dd>
            @Model.getCena()
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Klient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Klient.Email)
        </dd>
    </dl>
    <form asp-action="SzukajKlient">
        <div><input id="userMail" name="userMail" /></div>
        <input type="submit" value="SzukajKlient" class="btn btn-default" />
    </form>
</div>
@*<div>
    @Html.DisplayNameFor(model=>model.Paragon)
</div>
<div>
    @foreach(var usluga in ViewBag.rachunek.Uslugi)
    {
        @usluga.Typ;
    }
</div>*@
<div>
    <a asp-action="Wystaw" >Wystaw Rachunek</a> |
    <a asp-action="Index">Back to List</a>
</div>
