@{
    ViewData["Title"] = "Contact";
}
@using ProjektZespolowy.Models.MyModels
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>Kontakt</h1>

<address>
    @NaszaPlacowka.Adres.Miejscowosc @NaszaPlacowka.Adres.Kod_pocztowy <br />
    @NaszaPlacowka.Adres.Ulica @NaszaPlacowka.Adres.Numer_domu <br />
    <abbr title="Telefon">P:</abbr>
    @NaszaPlacowka.Telefon
    <abbr title="Fax">P:</abbr>
    @NaszaPlacowka.Fax
</address>

@*<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@
